{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/base_html.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    {%block header%}
    <link rel="stylesheet" {% block header-pageCss %}{% endblock %}>
    <script src= "{% static 'scripts/jquery.js' %}" type = "text/javascript"></script> 
    <script src= "{% static 'scripts/menu_hamburguesa.js' %}" type = "text/javascript"></script> 

    <title>Document</title>
    {%endblock%}
</head>
<!-- Tags para incluir la imagen de fondo-->
{%block background%}
    
<body {% block background-image %}{% endblock %}> 

    <div id="myNav" class="overlay">
        <button class="closebtn" onclick="closeNav()">&times;</button>
        <div class="overlay-content">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>
      </div>

      <nav class = "navBar">
        <ul>
          <li><a href="#first">who_is()</a></li>
          <li><a href="#second">projects()</a></li>
          <li><a href="#third">Contact()</a></li>
        </ul>
      </nav>
        
    
      <span class = "buttonMenu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
      <div>
          {%block content%}
          {%endblock%}

      </div>

      <script>
        function openNav() {
          document.getElementById("myNav").style.width = "100%";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.width = "0%";
        }
        </script>

</body>
{%endblock%}
</html>

