{%extends "base_html.html"%}
{% load static %}


<!-- NOTA: Tengo que incluir también tags específicos para la gestión específica del css-->

<{% block header-pageCss %} href= "{% static 'css/home_css.css' %}" {% endblock %} >


<!--Tags para incluir la imagen de fondo-->
{% block background-image %} id="bg"  style="background-image: url('{% static "images/test_2.jpg"%}')";{% endblock %} 
    
{%block content%}

      <div>
          <h1>'HELLO HUMAN'</h1>
          <p> 
            
            Esto es la introducción de la gente que viene a mi blog<br>
            y quiero que esté centrado apra que tenga un ejemplo clean 
            y chulo.

          </p>
      </div>
{%endblock%}

