

{%extends "base_html.html"%}
{% load static %}


<!-- NOTA: Tengo que incluir también tags específicos para la gestión específica del css-->

<{% block header-pageCss %} href= "{% static 'css/cards_v3.css' %}" {% endblock %} >


<!--Tags para incluir la imagen de fondo-->
<!--{% block background-image %} id="bg"  style="background-image: url('{% static "images/test_2.jpg"%}')";{% endblock %} -->
    
{%block content%}

<div class = "container">

  <div class="box">
      <img src = "{% static 'images/test.jpeg' %}" alt="Avatar" style="width:100%" class = "card-img">
      <div class="container-text">
        <h1 class = "card-header"><b> << John Doe >> </b></h1> 
        <p class = "card-text">El viaje a Hong Kong es increíble ya que me ha podido permitir conocer nuevas</p>
        <button class="btn-blue">detalles</button> 
      </div>
    </div>

  <div class="box">
      <img src = "{% static 'images/test_2.jpg' %}" alt="Avatar" style="width:100%" class = "card-img">
      <div class="container-text">
        <h1 class = "card-header"><b> "Hong Kong" </b></h1> 
        <p class = "card-text">El viaje a Hong Kong es increíble ya que me ha podido permitir conocer nuevas </p> 
        <button class = "btn-blue">detalles</button>
      </div>
    </div>

    <div class="box">
      <img src = "{% static 'images/test_2.jpg' %}" alt="Avatar" style="width:100%" class = "card-img">
      <div class="container-text">
        <h1 class = "card-header"><b> "Hong Kong" </b></h1> 
        <p class = "card-text">El viaje a Hong Kong es increíble ya que me ha podido permitir conocer nuevas </p> 
        <button class= "btn-blue">detalles</button>
      </div>
    </div>


</div>

{%endblock%}


       
         

    

