
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href= "{% static 'css/home_css.css' %}">-->
   <link rel="stylesheet" href= "{% static 'css/cards_v3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
        <nav class="top-nav">
            <ul class = "nav-links">
                <li>
                    <a href="{% url 'home' %}" style = "text-decoration:none">who_is()</a>
                </li>
                <li>
                    <a href="{% url 'projects' %}" style = "text-decoration:none">projects()</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}" style = "text-decoration:none">Contact()</a>
                </li>
                <li>
                    <i style="font-size:26px" class="fa"> <a href ="https://github.com/ManuData"  target="_blank" style="text-decoration:none"> &#xf09b;</i></a> 
                </li>
            </ul>
            
        </nav>
    
        <div class = "container">

            <div class="box">
                <img src = "{% static 'images/test.jpeg' %}" alt="Avatar" style="width:100%" class = "card-img">
                <div class="container-text">
                  <h1 class = "card-header"><b> << John Doe >> </b></h1> 
                  <p class = "card-text">El viaje a Hong Kong es increíble ya que me ha podido permitir conocer nuevas</p>
                  <button class="btn-blue">detalles</button> 
                </div>
              </div>

            <div class="box">
                <img src = "{% static 'images/test_2.jpg' %}" alt="Avatar" style="width:100%" class = "card-img">
                <div class="container-text">
                  <h1 class = "card-header"><b> "Hong Kong" </b></h1> 
                  <p class = "card-text">El viaje a Hong Kong es increíble ya que me ha podido permitir conocer nuevas </p> 
                  <button class = "btn-blue">detalles</button>
                </div>
              </div>

              <div class="box">
                <img src = "{% static 'images/test_2.jpg' %}" alt="Avatar" style="width:100%" class = "card-img">
                <div class="container-text">
                  <h1 class = "card-header"><b> "Hong Kong" </b></h1> 
                  <p class = "card-text">El viaje a Hong Kong es increíble ya que me ha podido permitir conocer nuevas </p> 
                  <button class= "btn-blue">detalles</button>
                </div>
              </div>


        </div>

        

    
</body>
</html>
