
body{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color:white;
    /*background:url("/static/images/test_2.jpeg")50% 0 no-repeat fixed;
    background-size: 900px 1000px;
    padding: 100px 0 0 0;*/
    
      
}

nav{
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height: 8vh;
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700; 

}

.nav-links{
  display:flex;
  justify-content: space-around;
  width: 35%;
  
  
  
}
.nav-links li{
  list-style: none;
  
}

.nav-links li a {
  text-decoration: none;
  color:yellow;
}

/* IMAGEN: Voy a incluir una imagen en un elemento en específico*/

#bg{
  background-size: 1800px 900px;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}



p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }