body{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: red;
     
}

section{

    position:relative;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c7474;
    /*background: #0e1212;*/
    color:#fff;
}
section .content{

    max-width: 80%;
}

section .content h2{

    position: relative;
    margin:0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);

}


section .content h2 ::before{

    position: relative;
    margin:0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);

}

section .content p{

   display: none;

}
